* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

$gray: #868e96;

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin btn-1 {
  border: 1px solid #212529;
  color: #212529;
  font-weight: light;
  font-size: 18px;
  padding: 15px 25px;
  border: 1px solid #212529;
  &:hover {
    background-color: #212529;
    color: #fff;
  }
}



.dropdown {
  position: relative;
  label {
    display: flex;
    gap :5px;
    color : $gray;
    opacity: .7;
    &:hover{
      opacity: 1;
    }
  }
  a{
    color: inherit;
  }
  input {
    display: none;
  }
  .menu {
    position: absolute;
    display: none;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 30px;
    li {
      padding: 10px 20px;
      color: #868e96;
      cursor: pointer;
      &:hover {
        color: #191919;
      }
    }
  }
  input:checked + .menu {
    display: block;
  }
}



@import "./components/header";
@import "./components/nav";
@import "./components/footer";
@import "./components/basket-modal";

@import "./pages//index/index-intro";
@import "./pages/index/index-deal";
@import "./pages/index/index-new";
@import "./pages/index/index-summer";


@import "./pages/about/about-intro";
@import "./pages/about/about-timeline";
@import "./pages/about/about-at";
@import "./pages/about/about-sponsors";
@import "./pages/about/about-team";

@import "./pages/blog/blog-intro";
@import "./pages/blog/blog-blogs";





