section.about-milestones{
 padding: 50px 0 ;
 background-color: #f8f9fa;
    .container{

    }
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap : 50px;
    }
    .right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap : 50px;
    }
    .title {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .text{
        color : $gray;
        letter-spacing: 1px;
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    section.about-milestones{
        .box {
            grid-template-columns: 1fr;
        }
    }
}