.basket-modal {
    display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  padding: 20px 30px;
  .top {
    display: flex;
    justify-content: flex-end;
    img {
      width: 24px;
    }
  }
  .body {
    margin-top: 30px;
    .item {
      display: grid;
      grid-template-columns:2fr 4fr 1fr;
      gap : 20px;
      .left {
          img {
            width: 100%;
          }
      }
      .right{
        img {
            width: 16px;
            opacity: .7;
            &:hover{
                opacity: 1;
            }
        }
      }
    }
  }

  .footer{
    margin-top: 30px;
    .total{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text{
        font-size: 32px;
      }
      .number{
        font-size: 20px;
      }
    }
    button {
      margin-top: 20px;
      @include btn-1();
      background-color: #fff;
    }
  }
}
