footer {
	.box-1{
		padding: 80px 0;
		width: 100%;
		background-color: #f8f9fa;
		.container{
			display: grid;
			grid-template-columns: repeat(4,1fr);
			gap : 30px;
		}
		img {
			width: 32px;
			height: 32px;
		}
		.item{
			display: flex;
			gap :20px;
			align-items: center;
		}
		.title{
			font-size: 14px;

		}
		.subtitle{
			font-size: 14px;
		}

	}

  .box-2 {
    padding: 60px 0;
    display: flex;
    gap: 40px;
    .contact {
      .title {
        color: #212529;
        margin-bottom: 24px;
        font-size: 16px;
      }
      .subtitle {
        color: $gray;
        margin-bottom: 16px;
        font-size: 14px;
      }
      form {
        position: relative;
        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid $gray;
          padding: 6px 20px 12px 12px;
          outline: none;
          font-weight: bold;
          font-size: 14px;
          background-image: url("../img/email.svg");
          background-size: 24px;
          background-repeat: no-repeat;
          background-position: center right;
        }
      }
    }
		.links{
			margin-right: 20px;
			.title{
				color : #212529;
				font-size: 16px;
				margin-bottom: 24px;
				letter-spacing: 1px;
				ul{

				}
				li{
					color : #868e96 !important;
					font-size: 14px;
					margin-bottom: 8px;
				}
				a{
					color: inherit;
				}
			}
		}
  }

  .box-3 {
    padding: 20px 0;
    color: #adb5bd;
    display: flex;
    justify-content: space-between;
    .copyright {
      font-size: 14px;
    }
    ul {
      display: flex;
      gap: 15px;
    }
    li {
      font-size: 14px;
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer{

    .box-1{
      .container{
        grid-template-columns: 1fr;
      }
    }
    .box-2{
      flex-direction: column;
    }

    .box-3{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}